<div class="container main-content">
    <div class="row">
        <div class="col">
            <article>
                <header>
                    <h1>About Me</h1>
                </header>
                <section>
                    <h3>Early Life</h3>
                    <p>I was in a military family and moved around a ton. I also got born and stuff.</p>
                </section>
                <section>
                    <h3>Recent</h3>
                    <p>
                        Spent the summer doing web programming making websites of the web variety for Wiegand Glas
                        in Germany.
                    </p>
                </section>
                <section>
                    <h2>Work Experience</h2>
                    <div class="table-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Employer</th>
                                    <th>Start Year</th>
                                    <th>End Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lifeguard</td>
                                    <td>Oro Valley</td>
                                    <td>2015</td>
                                    <td>2017</td>
                                </tr>
                                <tr>
                                    <td>Web Programming Intern</td>
                                    <td>Wiegand Glas</td>
                                    <td>2018</td>
                                    <td>2018</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section>
                    <h2>Accomplishments</h2>
                    <ul>
                        <li>Dean's List</li>
                        <li>NAU Honors College</li>
                        <li>Other Cool Stuff</li>
                    </ul>
                </section>
                <section>
                    <h2>Hobbies &amp; Interests</h2>
                    <ul>
                        <li>Sword Fighting</li>
                        <li>Karate</li>
                        <li>Swimming</li>
                        <li>Biking</li>
                        <li>Not running</li>
                        <li>Full Stack Web Development</li>
                        <li>Other cool stuff</li>
                    </ul>
                </section>
            </article>
        </div>
    </div>
</div>
