<script type="module" src="scripts/fetch.js"></script>
<div class="container main-content">
    <div class="row">
        <div class="col">
            <h1>Fetch</h1>
            <p>
                Here is some Rust code taken from 
                <a href="https://raw.githubusercontent.com/hyperium/hyper/master/examples/client.rs" target="_blank">here</a> 
                which is part of the Rust Hyper project. 
                It does something cool involving HTTP.<br/>Maybe you can figure it out. I'm too sleepy for this.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>client.rs</h5>
            <pre id="code">

            </pre>
        </div>
    </div>
</div>