<div class="container main-content">
    <div class="row">
        <div class="col">
            <form method="POST" action="/forms" name="derp">
                <h1>I ARE ULTIMATE HAXORRRRR!!!!!!!!</h1>
                <div class="input-field">
                    <input type="text" id="firstName" placeholder="First Name" name="firstName">
                </div>
                <div class="input-field">
                    <input type="text" id="lastName" placeholder="Last Name" name="lastName">
                </div>
                <div class="input-field">
                    <input type="email" id="email" placeholder="Email" name="email">
                </div>

                <div class="input-field">
                    <input type="number" id="phone" placeholder="Phone Number" name="phone">
                </div>

                <div class="input-field">
                    <input type="password" id="password" placeholder="Password" name="password">
                </div>

                <div class="input-field">
                    <input type="number" id="ssn" placeholder="SSN" name="ssn">
                </div>

                <div class="input-field">
                    <input type="number" id="credit" placeholder="Credit Card Number" name="credit">
                </div>

                <label for="bio">Please write a short bio; THIS IS MY TEXT BOX, TRY TYPING IN IT :)</label>
                <div class="input-field">
                    <textarea id="bio" class="materialize-textarea" placeholder="Personal Bio" name="bio"></textarea>
                </div>

                <h3>I AM THE SENATE!</h3>
                <p>
                    <label>
                        <input name="senate" type="radio" checked />
                        <span>Yes Mr. Palpatine, sir</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="senate" type="radio" />
                        <span>It's TREASON, THEN!</span>
                    </label>
                </p>

                <hr>

                <p>
                    <label>
                        <input type="checkbox" class="filled-in" id="hax" name="isUltimateHaxxor">
                        <span>U LIKE HYAXING?</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input type="checkbox" checked="checked" class="filled-in" name="isInsane">
                        <span>I SEE THROUGH THE LIES OF THE JEDI!</span>
                    </label>
                </p>
                <a class="btn waves-effect waves-light" type="submit">Submit</a>

            </form>
        </div>
    </div>
</div>