<script type="module" src="scripts/games.js"></script>
<div class="container main-content">
    <div class="popup">
        <h4>You Won!</h4>
        <p>Your time was: <span id="popup-time"></span></p>
        <a id="popup-button" class="start-button waves-effect waves-light btn">Start New</a>
    </div>
    <div class="row">
        <div class="col">
            <h1>Lights Out!</h1>
            <div id="timer">00:00</div>
            <div id="board-container"></div>
            <a class="start-button waves-effect waves-light btn">Start New</a>
        </div>
    </div>
</div>