<div class="container main-content">
    <div class="row">
        <div class="col">
            <article>
                <section>
                    <h2>About This Site</h2>
                    <p>This site exists to fulfill homework requirements for CS 212 - Introduction to Web
                        Programming.Many of the things I put on this site are not serious. I will, after I finish
                        CS 212, refactor this websiteinto a sort of resume website, but NOT
                        TODAAAAAAAYYYYYYYYYYYYYYYYYYYYY!!!!!</p>
                </section>
                <section>
                    <h2>Things I want To Learn</h2>
                    <ul>
                        <li>Angular</li>
                        <li>React</li>
                        <li>More Elm</li>
                        <li>SQL server management</li>
                        <li>Flask</li>
                        <li>Django</li>
                        <li>Spring</li>
                        <li>Material Design library</li>
                    </ul>
                </section>
            </article>
        </div>
    </div>
</div>