<div class="container main-content">
    <div class="row">
        <div class="col">
            <article>
                <div class="main-title">
                    <header>
                        <h1>Martial Arts</h1>
                    </header>
                </div>
                <section>
                    <h2>Benefits</h2>
                    <p>It can be really cool because you get to scream a lot in white pajamas.</p>
                </section>
                <section>
                    <h2>Weapons</h2>
                    <p>We get to use cool-ass weapons like spears and sticks and swords and nunchaku and stuff.</p>
                </section>
                <section>
                    <h2>Accomplishments</h2>
                    <p>I done got like a billion million-dan black belts and stuff.</p>
                </section>
            </article>
        </div>
    </div>
</div>