<div class="container main-content">
    <div class="row">
        <div class="col">
            <article>
                <header>
                    <h1>Web Development</h1>
                </header>
                <section>
                    <h2>The Good</h2>
                    <p>I get to make cool stuff and watch them work immediately.</p>
                </section>
                <section>
                    <h2>The Bad</h2>
                    <p>JavaScript or EF6 is a glorified mess and I want it to either go through a major refactoring
                        or die.</p>
                </section>
                <section>
                    <h2>The Ugly</h2>
                    <p>CSS. 'Nuff said.</p>
                </section>
            </article>
        </div>
    </div>
</div>