<div class=container>
    <div class=row>
        <div class="col">
            <h1>
                Thank you for your cooperation.<br/>
                We need gullible fools such as yourself to keep hyaxing.<br/>
                Keep up the good work!
            </h1>
            <h5>
                BTW: You have been Hyaxored<br/><br/>
                &#x1F608;&#x1F608;&#x1F608;&#x1F608;
                &#x1F608;&#x1F608;&#x1F608;&#x1F608;
                &#x1F608;&#x1F608;&#x1F608;&#x1F608;
            </h5>
        </div>
    </div>
</div>